version: "3.8"

services:
  airflow:
    image: apache/airflow:2.9.3
    user: root
    container_name: airflow
    restart: always
    ports:
      - "8080:8080"

    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/root-jdy/mlops-mlops_3:/opt/mlops


    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=False

    command: >
      bash -c "
      airflow db migrate &&
      airflow users create \
        --username admin \
        --firstname admin \
        --lastname admin \
        --role Admin \
        --email admin@example.com \
        --password admin1234 \
        || true &&
      airflow scheduler &
      exec airflow webserver"


  mysql-db:
    image: mysql:8.0
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Seoul

    # 패스워드 인증 방식 변경(python mysqlclient 라이브러리 호환성)
    command: --default-authentication-plugin=mysql_native_password
    networks:
     - app-network
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    healthcheck: # MySQL이 정상 작동하는지 주기적으로 확인
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", '-u', 'root', '-p$MYSQL_ROOT_PASSWORD']
      interval: 5s
      timeout: 20s
      retries: 10

  app:  # ✅ Python 애플리케이션 서비스 추가
      build: .  # 또는 image: your-python-image
      container_name: movie-container
      depends_on:
        mysql-db:
          condition: service_healthy  # ✅ MySQL이 준비될 때까지 대기
      environment:
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        MYSQL_HOST: ${MYSQL_HOST} # ✅ 서비스 이름 사용 (중요!)
        MYSQL_PORT: ${MYSQL_PORT}   # ✅ 내부 포트 사용
      command: python /opt/mlops/src/main.py inference  # ✅ 실행 명령 추가
      ports: 
        - 8000:8000
      networks:
        - app-network
      volumes:
        - ./src:/opt/mlops/src  # 코드 마운트           

volumes:
  mysql_data:


networks:
  app-network:
    driver: bridge